#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  background-color: rgb(197, 197, 201);
  border: solid;
  border-radius: 10px;
}

p {
  color: black;
}

.individual-card {
  background-color: rgb(197, 197, 201);
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.comment-body {
  font-weight: lighter;
}
aside {
  text-align: left;
}

section {
  text-align: left;
}
.text-left {
  text-align: left;
}

.card {
  padding: 2em;
}

@media only screen and (min-width: 200px) {
  #root {
    max-width: 100%;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
}
