#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  background-color: rgb(197, 197, 201);
  border: solid;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sort {
  display: flex;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: black;
}

.individual-card {
  background-color: rgb(197, 197, 201);
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.user-card {
  background-color: rgb(143, 143, 198);
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  border: solid black;
  border-radius: 10px;

  background-color: rgb(143, 143, 198);
}

select {
  margin-left: 20px;
}

.delete-card {
  margin-top: 10px;
}
.delete-card:hover {
  margin-top: 10px;
  background-color: red;
}

textarea {
  color: white;
  margin-bottom: 10px;
}

.comment-card {
  background-color: rgb(143, 143, 198);
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.center-button {
  align-self: center;
}

.container-padding {
  padding-top: 10px;
}
label {
  font-size: larger;
  padding-bottom: 10px;
}

.comment-body {
  font-weight: lighter;
}
aside {
  text-align: left;
  padding-bottom: 10px;
}

section {
  text-align: left;
}
.text-left {
  text-align: left;
}

.card {
  padding: 2em;
}

@media only screen and (min-width: 200px) {
  #root {
    max-width: 100%;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 690px) {
  .grid {
    grid-template-columns: 1fr;
  } /* One column for smaller screens */
}
